
.heading {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  padding-top: 20px;
  color: white;
  font-weight: bold;

}

.bar {
  font-family:fantasy;
}

.form {
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  font-family: fantasy;
  border-radius: 20px;
  color: white;
  margin-bottom: 30px;

}

.form > label {

  padding-top: 25px;
  margin-bottom: 0;
}

.form > input {
  width: 100%;
  font-family: fantasy;
  border-radius: 10px;
  background-color: #474b4f;
  color: white;
  outline: none !important;

}

h1 {
  text-align: center;
  font-family: fantasy;
  padding-top: 15px;
  color: white;
}

.submit {
  margin-top: 35px;
  color:white;
  padding-top: 10px;
}

.label1 {
  padding-top: 10px;
  color:white;
}

html,
body {
  background-image: radial-gradient( #2e151b, #8e8d8a) !important;
}

.namelabel {
  padding-top: 0 !important;
}

h2 {
  text-align: center;
  color: white;
  font-family: fantasy;
  padding-top: 20px; 
}

.aboutme {
  color: white;
  font-family: fantasy;
  text-align: center;
}

.images {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.shopheader {
  color: white;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  padding-top: 30px !important;
}

.carousel-item{
  width: 640px;
  height: 360px;
}

.anisa{
  width: 100%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}

.fa-instagram {
  color: white;
  border-radius: 50%;
}

.center {
 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer{
  padding-top: 20px;
  text-align: center;
}


.img-container {
  text-align: center;
 }
  
 i.fab {
   color: white;
   margin: 5px;
 }